img {
  /* height: 200px; */
  /* width: 200px; */
  max-width: 100%;
  max-height: 322.5px;
}

.cards {
  display: flex;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}

.card {
  padding: 10px;
  display: inline;
  width: 30%;
  max-width: 400px;
  grid-template-rows: 60% 10% 20% 10%;
}

.description {
  text-align: center;
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
  width:  auto;

}

