/* Education.css */

.education-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.education-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.education-subheading {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

.education-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

  
  /* Style links */
  /* a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
   */