.home-container {
  width: 100vw; /* Change width to 100vw to cover the entire viewport width */
  margin-left: -10px;
}

.home-content-top {
  margin-top: -30px;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 30px;
  width: 100%; /* Set width to 100% */
  background-color: #b9c4e3;
  margin-right: 10px;
  display: flex;
  && .content-top-text {
    width: 320px;
    margin-right: 270px;
  }
}

/* Remove unnecessary styles */
.content-top-image img {
  height: 200px;
}

.home-content-middle {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  && .middle-cards {
    display: flex;
    justify-content: space-evenly;
    && img {
      margin-top: -10px;
      border-radius: 15px;
      height: 300px;
    }
  }
}

.middle-cards {
  padding-top: 15px;
  padding-bottom: 15px;
}

.middle-card {
  position: relative;
}

.middle-card .background {
  border-radius: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 95%;
  background-color: rgba(129, 178, 154, 0.8);
}

.middle-card-text {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 80%;
  padding: 10px;
  background-color: white;
}

.home-content-bottom {
  padding-top: 30px;
  display: flex;
  && h3 {
    padding-top: 30px;
    width: 350px;
    margin: 20px auto; /* Center the card horizontally and add margin */
  }
}

.home-card {
  width: 40%; /* Make the card responsive */
  max-width: 800px; /* Limit the maximum width */
  margin: 20px auto; /* Center the card horizontally and add margin */
}
