.home-container {
  width: 100vw; /* Change width to 100vw to cover the entire viewport width */
  margin-left: -10px;
}

.home-content-top {
  margin-top: -30px;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 30px;
  background-color: #b9c4e3;
  margin-right: 10px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  && .content-top-text {
    width: 350px;
    margin-right: 170px;
  }
}

/* Remove unnecessary styles */
.content-top-image img {
  height: 200px;
}

.home-content-middle {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  && .middle-cards {
    display: flex;
    justify-content: space-evenly;
    && img {
      margin-top: -10px;
      border-radius: 15px;
      height: 300px;
    }
  }
}

.middle-cards {
  padding-top: 15px;
  padding-bottom: 15px;
}

.middle-card {
  position: relative;
}

.middle-card .background {
  border-radius: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 95%;
  background-color: rgba(129, 178, 154, 0.8);
}

.middle-card-text {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 80%;
  padding: 10px;
  background-color: white;
}

.home-content-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  && h3 {
    padding-top: 30px;
    width: 320px;
    margin: 20px auto; /* Center the card horizontally and add margin */
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }
}

.content-bottom-text {
  width: 470px; /* Make the card responsive */
  max-width: 800px; /* Limit the maximum width */
  margin: 20px auto; /* Center the card horizontally and add margin */
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
