nav {
    margin-top: -20px;
  background-color: #394263;;
  && .home-nav-title {
    font-size: 3.2em;
    color: #f1916d;
    padding-left: 20px;
  }
  && .home-nav-title {
    margin-top: 10px;
  }
  && .home-brand-logo img {
    width: auto; /* Allow the width to adjust based on the image's aspect ratio */
    max-height: 50px; /* Set a maximum height to prevent stretching */
    border-radius: 50%; /* Ensure the image is circular */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  && .nav-link {
    margin-top: 20px;
    margin-right: 15px;
    font-size: 25px;
    color: white;
  }
}
