.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
    background-color: #f4f1de;
}
  
  .menu-icon {
    position: absolute; /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    color: white;
    margin-top: -5px;
  }

  /* Give every child element its grid name */
  .header {
    display: flex;
    justify-content: end;
    align-items: center; /* Center items vertically */
    padding: 15px 16px;
    margin-top: 10px;
    && img {
        width: auto; /* Allow the width to adjust based on the image's aspect ratio */
        max-height: 50px; /* Set a maximum height to prevent stretching */
        border-radius: 50%; /* Ensure the image is circular */
        object-fit: cover; /* Ensure the image covers the entire container */
        margin-left: 10px;
        margin-right: 20px;
    }
  }

  .header__app-name {
    margin-left: 20px;
    font-size: 20px;
  }
  
  /* Make room for the menu icon on mobile */
  .brand-logo img {
    margin-left: 60px;
    width: 50%;
    max-height: 110px;
    border-radius: 50%;
    margin-top: 20px;
  }
  
  .sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: #394263;
  }
  
  .sidenav.active {
    transform: translateX(0);
  }

  .sidenav__list-item.active {
    background-color: rgba(255, 255, 255, 0.1); /* Change the background color of the active link */
  }
  
  .sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
  }
  
  .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
    && a {
      text-decoration: none;
      color: white;
    }
  }
  
  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
    && .nav-text {
      margin-left: 10px;
    }
  }
  
  .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #f4f1de;;
  }

  @media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
      grid-template-columns: 240px 1fr;
      grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }
  
    .sidenav {
      position: relative;
      transform: translateX(0);
    }
  }

  @media (max-width: 749px) {
    .header {
      background-color: #394263;
      padding-top: -10px;
      margin-top: -1px;
      margin-bottom: -10px;
      color: white;
    }
  }