.menu-icon {
    position: fixed;
    display: flex;
    top: 10px;
    left: 10px;
    align-items: center;
    justify-content: center;
    background-color: #dadae3; /* Change background color here */
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    padding: 8px; /* Adjust padding as needed */
  }
  
  .menu-icon i {
    color: #000; /* Change icon color here */
    font-size: 24px;
    margin-right: 1px;
    margin-bottom: 2px;
  }
  
  .header {
    display: flex;
    justify-content: end;
    align-items: center; /* Center items vertically */
    padding: 15px 16px;
  }
  
  .header img {
    width: auto; /* Allow the width to adjust based on the image's aspect ratio */
    max-height: 50px; /* Set a maximum height to prevent stretching */
    border-radius: 50%; /* Ensure the image is circular */
    object-fit: cover; /* Ensure the image covers the entire container */
    margin-left: 10px;
  }
  
  .sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all 0.6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: #3d405b;
    padding-bottom: 60px; /* Add padding for sidenav__list_two */
  }
  
  .sidenav.active {
    transform: translateX(0);
  }
  
  .brand-logo img {
    margin-left: 35%;
    width: 30%;
    border-radius: 50%;
    margin-top: 20px;
  }
  
  .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
    && img {
      width: 30%;
      border-radius: 50%;
      margin-right: 5px;
      margin-left: -20px;
    }
    && a {
      text-decoration: none;
      color: white;
    }
  }
  
  .sidenav__list_two {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
    list-style-type: none;
    && img {
      width: 30%;
      border-radius: 50%;
      margin-right: 5px;
      margin-left: -20px;
    }
    && a {
      text-decoration: none;
      color: white;
    }
  }
  
  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }
  
  .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }