.dashboard {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;

}

.dashboard-header {
  display: flex;
  justify-content: space-evenly; /* Center the items horizontally */
  align-items: center; /* Align items vertically in the center */
  flex-wrap: wrap; /* Allow items to wrap if they exceed the width */
  margin-bottom: 15px;
  gap: 20px;
}

.dash-back {
  width: 300px;
  background-color: rgba(129, 178, 154, 0.8);
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Optional: Align items vertically in the center */
  padding-bottom: 10px;
  padding-top: 10px;
}

h1, h2, h4 {
  font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}

.bill-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-bottom: 25px;
}

.bill-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.help-links {
  font-size: 20px;
  && ul {
    list-style-type: none;
  }
}

.bill-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.bill-card p {
  margin-bottom: 10px;
}

.bill-card p:last-child {
  margin-bottom: 0;
}

.bill-card.pending {
  border-left: 5px solid #f39c12; /* Orange */
}

.bill-card.approved {
  border-left: 5px solid #2ecc71; /* Green */
}

.bill-card.rejected {
  border-left: 5px solid #e74c3c; /* Red */
}

.dash-statements {
  margin-bottom: 15px;
}