.bill-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

/* On smaller screens, stack the summary above the bill list */
@media (max-width: 768px) {
  .bill-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .bill-summary-container {
    order: 1; /* Move summary to the top */
  }

  .bill-list {
    order: 2; /* Move bill list below */
  }
}

.bill-list {
  max-height: 65vh;
  overflow-y: scroll;
}

.bill-date {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

h3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.bill-summary-container {
  && h2 {
    text-align: center;
  }
}

.summary-card {
  display: flex;
  justify-content: center;
}
