.rep-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    && .card-content {
        height: 190px; /* Adjust the height as needed */
    }
}


@media screen and (min-width: 580px) {
    .rep-container {
   margin-left: 60px;
  }
}
